* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

#menu h1 {
    font-size: 3rem;
    color: white;
}

#play-btn {
    font-size: 1.1rem;
    padding: 1rem 4rem;
    border-radius: 10px;
    border: 1px solid #67aa59;
    background-color: #5eaf4e;
    color: white;
    outline: none;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

#play-btn:hover {
    background-color: #73a06a;
}

.game-board {
    width: 100%;
    height: 70vh;
    border-bottom: 15px solid #36a820;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.game-bottom {
    width: 100%;
    height: 30vh;
    background-color: #501818;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
}

.pipe.active {
    animation: pipe-animation 1.5s infinite linear;
}

.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 550px;
}

.clouds.active {
    animation: clouds-animation 10s infinite linear;
}

@keyframes pipe-animation {

    from {
        right: -80px;
    }
    
    to {
        right: 100%;
    }

}

@keyframes jump {
    
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }

}

@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}